<div *ngIf="user" class="card shadow-sm mt-4">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-md-3 text-center">
        <img
          [src]="user.image"
          [alt]="user.username"
          class="img-fluid rounded-circle"
          width="120"
        />
      </div>
      <div class="col-md-9">
        <h3>{{ user.firstName }} {{ user.lastName }}</h3>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
      </div>
    </div>
  </div>
</div>